# Creating DF from Dictionaries

In [1]:
import pandas as pd
from collections import OrderedDict
from datetime import date

## 1. Generate DF

In [2]:
# list of dictionaries
# dictionary key = column headings
# default index is automatically created (from 0 to N-1)
# row-oriented

sales = [{'account' : 'Kim', 'Jan' : 150, 'Feb' : 200, 'Mar' : 140},
         {'account' : 'Song', 'Jan' : 200, 'Feb' : 210, 'Mar' : 215},
         {'account' : 'Noh', 'Jan' : 70, 'Feb' : 90, 'Mar' : 95}]
df = pd.DataFrame(sales)
df

   Feb  Jan  Mar account
0  200  150  140     Kim
1  210  200  215    Song
2   90   70   95     Noh

In [3]:
# column-oriented : from_dic() function

sales = {'account' : ['Kim', 'Song', 'Noh'],
         'Jan' : [150, 200, 70],
         'Feb' : [200, 210, 90],
         'Mar' : [140, 215, 95]}
df = pd.DataFrame.from_dict(sales)
df

   Feb  Jan  Mar account
0  200  150  140     Kim
1  210  200  215    Song
2   90   70   95     Noh

###### -> In your unique situation, use any between 2 ways (row / column based approach)

## 2. Re-Ordering Columns

### 1) Manually

In [4]:
df = df[['account', 'Jan', 'Feb', 'Mar']]
df

  account  Jan  Feb  Mar
0     Kim  150  200  140
1    Song  200  210  215
2     Noh   70   90   95

### 2) checking when creating

In [5]:
# use OrderdDict() function

sales = OrderedDict([  ('account', ['Kim', 'Song', 'Noh']),
                       ('Jan', [150, 200, 70]),
                       ('Feb', [200, 210, 90]),
                       ('Mar', [140, 215, 95])
                    ])
df = pd.DataFrame.from_dict(sales)
df

  account  Jan  Feb  Mar
0     Kim  150  200  140
1    Song  200  210  215
2     Noh   70   90   95

# Creating DF from Lists

In [6]:
# row-oriented approach
# using pandas.from_records()
# need calling out label explicitly

sales = [('Kim', 150, 200, 50),
         ('Song', 200, 210, 90),
         ('Noh', 140, 215, 95)]
labels = ['account', 'Jan', 'Feb', 'Mar']
df = pd.DataFrame.from_records(sales, columns=labels)
df

  account  Jan  Feb  Mar
0     Kim  150  200   50
1    Song  200  210   90
2     Noh  140  215   95

In [7]:
# column-oriented approach
# using pandas from_items

sales = [('account', ['Kim', 'Song', 'Noh']),
         ('Jan', [150, 200, 50]),
         ('Feb', [200, 210, 90]),
         ('Mar', [140, 215, 95])
        ]
df = pd.DataFrame.from_items(sales)
df

  account  Jan  Feb  Mar
0     Kim  150  200  140
1    Song  200  210  215
2     Noh   50   90   95

![Creatingpd Dataframes](images/pandas-dataframe-shadow.png)

<h6><center> from [https://pbpython.com/pandas-list-dict.html] </center></h6>