# Contents
 - packages
 - Rename Column/Row names

#### organizing
 - apply
 - df concat
 - column type change

# Packages

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

# Rename Column/Row names

In [5]:
df = pd.DataFrame([[1,2,3],[4,5,6]])
df

   0  1  2
0  1  2  3
1  4  5  6

#### edit column name

In [6]:
df.columns

RangeIndex(start=0, stop=3, step=1)

In [8]:
df.columns = ['col_a', 'col_b', 'col_c']
df

   col_a  col_b  col_c
0      1      2      3
1      4      5      6

In [9]:
df.rename(columns = {'col_a':'aa', 'col_b':'bb'}, inplace=True)
df

   aa  bb  col_c
0   1   2      3
1   4   5      6

#### edit index name

In [11]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [13]:
df.index = ['row_a', 'row_b']
df

       aa  bb  col_c
row_a   1   2      3
row_b   4   5      6

In [15]:
df.rename(index={'row_a':'raa'}, inplace=True)
df

       aa  bb  col_c
raa     1   2      3
row_b   4   5      6

#### review

In [16]:
df = pd.DataFrame([[1,2,3],[4,5,6]], columns=['col_a', 'col_b', 'col_c'], index=['row_a', 'row_b'])
df

       col_a  col_b  col_c
row_a      1      2      3
row_b      4      5      6

In [17]:
df.rename(columns = {'col_a':'aa', 'col_b':'bb'},
          index={'row_a':'raa'},
          inplace=True)
df

       aa  bb  col_c
raa     1   2      3
row_b   4   5      6