# List & Tuple (Intermediate)

 - append : add element
 - extend : add and connect list
 - insert : add element into particular index

In [2]:
a = [1,2,3]
a.append(50)
a

[10, 20, 30, 500]

In [4]:
a = [1,2,3]
a.append([4,5])
print('length :', len(a))
a

length : 4

[1, 2, 3, [4, 5]]

In [6]:
a = [1,2,3]
a.extend([4,5])
print('length :', len(a))
a

length : 5

[1, 2, 3, 4, 5]

In [7]:
a = [1,2,3]
a.insert(2,500)
print('length :', len(a))
a

length : 4

[1, 2, 500, 3]

#### 2 usual insert usage
 - insert(0, element) : add element in the first of list
 - insert(len(list), element) : add element at the end of the list

In [4]:
a = [1,2,3]
a.insert(0,4)
a

[4, 1, 2, 3]

In [5]:
a.insert(len(a),5)
a

[4, 1, 2, 3, 5]

access to index

In [10]:
a = [1,2,3,4,5]
a[1:3]

[2, 3]

In [11]:
a = [1,2,3,4,5]
a[1:2]

[2]

In [12]:
a = [1,2,3,4,5]
a[1:1]

[]

In [13]:
a = [1,2,3,4,5]
a[1:1] = [6,7]
a

[1, 6, 7, 2, 3, 4, 5]

Remove element from the list

In [14]:
print(a)
a.pop()
print(a)

[1, 6, 7, 2, 3, 4, 5]
[1, 6, 7, 2, 3, 4]

In [15]:
a.pop()
a

[1, 6, 7, 2, 3]

remove specific element using pop()

In [16]:
print(a)
a.pop(2)
print(a)

[1, 6, 7, 2, 3]
[1, 6, 2, 3]

we can use 'del' instead

In [17]:
print(a)
del a[2]
a

[1, 6, 2, 3]

[1, 6, 3]

remove specific value from the list

In [18]:
a = [1,2,3]
a.remove(2)
a

[1, 3]

In [20]:
a = [1,2,3,2]
a.remove(2)    # remove the first coming '2' element
a

[1, 3, 2]