# In this page...
 - 2D array

In [1]:
a = [[1,2],[3,4],[5,6]]
a

[[1, 2], [3, 4], [5, 6]]

In [3]:
a[2][1]

6

In [4]:
a[2][1] = 77
a

[[1, 2], [3, 4], [5, 77]]

jagged list

In [5]:
a = [[1,4],
     [1,5,9,2],
     [6],
     [5,3,5],
     [8,9]]
a

[[1, 4], [1, 5, 9, 2], [6], [5, 3, 5], [8, 9]]

generate jagged list using append()

In [8]:
a = []
a.append([])
a[0].append(1)
a[0].append(4)
a.append([])
a[1].append(1)
a[1].append(5)
a[1].append(9)
a[1].append(2)
a

[[1, 4], [1, 5, 9, 2]]

2D tuple

In [9]:
a = ((1,4),(1,5),(9,2))
b = ([1,4],[1,5],[9,2])
c = [(1,4),(1,5),(9,2)]

print intutively

In [15]:
from pprint import pprint
pprint(c, indent=4, width=12)

[   (1, 4),
    (1, 5),
    (9, 2)]

print (for loop)

In [16]:
a = [[1,4],[1,5],[9,2]]
for x,y in a :
    print(x,y)

1 4
1 5
9 2

In [17]:
a = [[1,4],[1,5],[9,2]]
for i in a:
    for j in i:
        print(j, end='  ')
    print()

1  4
1  5
9  2

In [18]:
a = [[1,4],[1,5],[9,2]]
for i in range(len(a)):          # nrow
    for j in range(len(a[i])):   # ncol
        print(a[i][j], end=' ')
    print()

1 4
1 5
9 2

while loop

In [19]:
a = [[1,4],[1,5],[9,2]]
i = 0
while i < len(a):
    x,y = a[i]
    print(x,y)
    i += 1

1 4
1 5
9 2

In [20]:
a = [[1,4],[1,5],[9,2]]
i = 0
while i < len(a):
    j = 0
    while j<len(a[i]):
        print(a[i][j], end=' ')
        j+= 1
    print()
    i+=1

1 4
1 5
9 2

#### generate list using loops

In [21]:
a = []
for i in range(5):
    a.append(0)
a

[0, 0, 0, 0, 0]

In [23]:
a = []
for i in range(3):
    rows=[]
    for j in range(2):
        rows.append(0)
    a.append(rows)
print(a)

[[0, 0], [0, 0], [0, 0]]

In [24]:
a = [[0 for j in range(2)] for i in range(3)]
a

[[0, 0], [0, 0], [0, 0]]

In [25]:
a = [[0]*2 for i in range(3)]
a

[[0, 0], [0, 0], [0, 0]]

In [26]:
a = [3,1,4,1,5,9,2]
b = []
for i in a:
    line = []
    for j in range(i):
        line.append(0)
    b.append(line)
b

[[0, 0, 0],
 [0],
 [0, 0, 0, 0],
 [0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0]]

In [28]:
students = [
    ['k','A',19],
    ['L','B',20],
    ['N','C',17]
]
sorted(students, key=lambda student: student[1])

[['k', 'A', 19], ['L', 'B', 20], ['N', 'C', 17]]

In [29]:
students = [
    ['k','A',19],
    ['L','B',20],
    ['N','C',17]
]
sorted(students, key=lambda student: student[2])

[['N', 'C', 17], ['k', 'A', 19], ['L', 'B', 20]]

#### Assignment and Copy of 2D List

In [35]:
a = [[1,4],[1,5]]
b = a
b[0][0] = 77

In [36]:
a

[[77, 4], [1, 5]]

In [34]:
b

[[77, 4], [1, 5]]

In [38]:
a = [[1,4],[1,5]]
b = a.copy()
b[0][0] = 77

In [39]:
a

[[77, 4], [1, 5]]

In [40]:
b

[[77, 4], [1, 5]]

#### to copy 2+D list, we use deepcopy()

In [41]:
a = [[1,4],[1,5]]
import copy
b = copy.deepcopy(a)
b[0][0]  = 77

In [42]:
a

[[1, 4], [1, 5]]

In [43]:
b

[[77, 4], [1, 5]]