# In this page...
 - [Intermediate] List & Tuple 
 - pythonic code
 - list comprehension
 - tuple comprehension

## List & Tuple (Intermediate)

 - append : add element
 - extend : add and connect list
 - insert : add element into particular index

In [160]:
a = [1,2,3]
a.append(50)
a

[1, 2, 3, 50]

In [161]:
a = [1,2,3]
a.append([4,5])
print('length :', len(a))
a

length : 4

[1, 2, 3, [4, 5]]

In [162]:
a = [1,2,3]
a.extend([4,5])
print('length :', len(a))
a

length : 5

[1, 2, 3, 4, 5]

In [163]:
a = [1,2,3]
a.insert(2,500)
print('length :', len(a))
a

length : 4

[1, 2, 500, 3]

#### 2 usual insert usage
 - insert(0, element) : add element in the first of list
 - insert(len(list), element) : add element at the end of the list

In [164]:
a = [1,2,3]
a.insert(0,4)
a

[4, 1, 2, 3]

In [165]:
a.insert(len(a),5)
a

[4, 1, 2, 3, 5]

access to index

In [166]:
a = [1,2,3,4,5]
a[1:3]

[2, 3]

In [167]:
a = [1,2,3,4,5]
a[1:2]

[2]

In [168]:
a = [1,2,3,4,5]
a[1:1]

[]

In [169]:
a = [1,2,3,4,5]
a[1:1] = [6,7]
a

[1, 6, 7, 2, 3, 4, 5]

Remove element from the list

In [170]:
print(a)
a.pop()
print(a)

[1, 6, 7, 2, 3, 4, 5]
[1, 6, 7, 2, 3, 4]

In [171]:
a.pop()
a

[1, 6, 7, 2, 3]

remove specific element using pop()

In [172]:
print(a)
a.pop(2)
print(a)

[1, 6, 7, 2, 3]
[1, 6, 2, 3]

we can use 'del' instead

In [173]:
print(a)
del a[2]
a

[1, 6, 2, 3]

[1, 6, 3]

remove specific value from the list

In [174]:
a = [1,2,3]
a.remove(2)
a

[1, 3]

In [175]:
a = [1,2,3,2]
a.remove(2)    # remove the first coming '2' element
a

[1, 3, 2]

#### make stack and queue using list
 - deque (repeatable object)
 - right : append() & pop() >>> stack
 - left : appendleft() & popleft() >>> queue

In [176]:
from collections import deque
a = deque([1,2,3])
a

deque([1, 2, 3])

In [177]:
a.append(4)
a

deque([1, 2, 3, 4])

In [178]:
a.popleft()

1

In [179]:
a

deque([2, 3, 4])

In [180]:
a.appendleft(5)
a

deque([5, 2, 3, 4])

In [181]:
a.pop()

4

In [182]:
a

deque([5, 2, 3])

get index of particular value from list

In [183]:
a = [1,2,3,4,5,6,7]
a.index(5)

4

get the number of particular value

In [184]:
a = [1,2,3,4,5,6,5]
a.count(5)

2

Reverse the order of the list

In [185]:
a = [1,2,3,4,3,5,7]
a.reverse()
a

[7, 5, 3, 4, 3, 2, 1]

Sorting the element of the list

In [186]:
a = [1,2,3,4,3,5,7]
a.sort()
a

[1, 2, 3, 3, 4, 5, 7]

#### sort() vs. sorted
 - sort : the original list get changed
 - sorted : generate new sorted list

In [187]:
a = [1,2,7,3,4,8,5,7]
a.sort()

In [188]:
a

[1, 2, 3, 4, 5, 7, 7, 8]

In [189]:
b = [1,2,7,3,4,8,5,7]
sorted(b)

[1, 2, 3, 4, 5, 7, 7, 8]

In [190]:
b

[1, 2, 7, 3, 4, 8, 5, 7]

Remove all elements of list
 - clear() 
 - del

In [191]:
a = [1,2,3]
a.clear()
a

[]

In [192]:
a = [1,2,3]
del a[:]
a

[]

slicing the list

In [193]:
a = [1,2,3]
a[len(a):] = [4]   # same as a.append(4)
a

[1, 2, 3, 4]

In [194]:
a = [1,2,3]
a[len(a):] = [4,5]
a

[1, 2, 3, 4, 5]

check if list is empty

In [195]:
not len(a)

False

In [196]:
seq = [1,2,3]
seq[-1]   # if last element returns error, then the list is empty

3

## List Assignment & Copy

In [197]:
a = [0,0,0,0]
b = a

In [198]:
a

[0, 0, 0, 0]

In [199]:
b

[0, 0, 0, 0]

In [200]:
a is b

True

In [201]:
a == b

True

In [202]:
b[2] = 7
b

[0, 0, 7, 0]

In [203]:
a

[0, 0, 7, 0]

copy

In [204]:
a = [0,0,0,0]
b = a.copy()

In [205]:
a

[0, 0, 0, 0]

In [206]:
b

[0, 0, 0, 0]

In [207]:
a is b

False

In [208]:
a == b

True

In [209]:
b[2] = 7
b

[0, 0, 7, 0]

In [210]:
a

[0, 0, 0, 0]

for phrase

In [211]:
a = [1,4,1,5,9,2]
for i in a:
    print(i,end=' ')

1 4 1 5 9 2

In [212]:
for i in [1,4,1,5,9,2]:
    print(i,end=' ')

1 4 1 5 9 2

In [213]:
a = [1,4,1,5,9,2]
for index, value in enumerate(a):
    print(index, value, end=' / ')

0 1 / 1 4 / 2 1 / 3 5 / 4 9 / 5 2 /

In [214]:
a = [1,4,1,5,9,2]
for i, v in enumerate(a):
    print(i+1, v, end=' / ')

1 1 / 2 4 / 3 1 / 4 5 / 5 9 / 6 2 /

#### pythonic way
 - start parameter

In [215]:
a = [1,4,1,5,9,2]
for i,v in enumerate(a, start=1):
    print(i, v, end=' / ')

1 1 / 2 4 / 3 1 / 4 5 / 5 9 / 6 2 /

In [216]:
a = [1,4,1,5,9,2]
for i,v in enumerate(a, 1):  # same
    print(i, v, end=' / ')

1 1 / 2 4 / 3 1 / 4 5 / 5 9 / 6 2 /

get element using index

In [217]:
a = [1,4,1,5,9,2]
for i in range(len(a)):
    print(a[i], end=' ')

1 4 1 5 9 2

while phrase

In [218]:
a = [1,4,1,5,9,2]
i = 0
while i < len(a):
    print(a[i], end=' ')
    i+=1

1 4 1 5 9 2

#### Get the largest, smallest number

way.1

In [219]:
a = [39, 20, 52, 71, 8]
smallest = a[0]
for val in a:
    if val < smallest:
        smallest = val
smallest

8

In [220]:
a = [39, 20, 52, 71, 8]
largest = a[0]
for val in a:
    if val > largest:
        largest = val
largest

71

way.2

In [221]:
a = [39, 20, 52, 71, 8]
a.sort()
a[0]

8

In [222]:
a = [39, 20, 52, 71, 8]
a.sort(reverse=True)
a[0]

71

way.3

In [223]:
a = [39, 20, 52, 71, 8]
print(min(a), max(a))

8 71

get sum of elements in the list

In [224]:
a = [7,7,7,7,7]
x = 0
for i in a:
    x += i
x

35

In [225]:
sum(a)

35

## List Comprehension

step.1

In [226]:
a = [i for i in range(10)]; a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [227]:
b = list(i for i in range(10)); b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

step.2

In [228]:
c = [i+5 for i in range(10)]; c

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [229]:
d = [i*2 for i in range(10)]; d

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

#### [   ] vs. list[   ]
 - way.1 : [i for i in range(3)]
 - way.2 : list[i for i in range(3)]
 - performance : way.1 is better 
 - more pythonic way : way.1

step.3

In [230]:
a = [i for i in range(10) if i%2 == 0]; a

[0, 2, 4, 6, 8]

In [231]:
b = [i+5 for i in range(10) if i%2 == 1]; b

[6, 8, 10, 12, 14]

step.4

In [232]:
a = [i*j for j in range(2,4) for i in range(1,10)]; a

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [233]:
a = [i*j for j in range(2,10)
         for i in range(1,10)];
a[0:20]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8]

#### using map at list
 - list(map(function, list))
 - tuple(map(function, tuple))

In [234]:
a = [3.9, 2.1, 5.2, 7.1, 8.0]
for i in range(len(a)):
    a[i] = int(a[i])
a

[3, 2, 5, 7, 8]

this(above) is inconvenient, so...

In [235]:
a = [3.9, 2.1, 5.2, 7.1, 8.0]
a = list(map(int,a))
a

[3, 2, 5, 7, 8]

In [236]:
a = list(map(str, range(10)))
a

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

#### input().split() & map

In [237]:
a = input().split()
a

3 4

['3', '4']

In [238]:
a2 = map(int, input().split())
a2   #map object

5 6

In [239]:
list(a2)

[5, 6]

-> map objcect is one of operator, so unpacking(save at many different variables) is available

In [240]:
x = input().split()
m = map(int, x)
a, b = m

7 8

In [241]:
print(a)

7

In [242]:
print(b)

8

## Tuple (Advanced)

get index

In [243]:
a = [39, 20, 52, 71, 8]
a.index(52)

2

get the number of particular value

In [244]:
a = [39, 22, 52, 71, 8, 22, 66, 22]
a.count(22)

3

using for loop

In [245]:
a = [39, 20, 52, 71, 8]
for i in a:
    print(i, end=' ')

39 20 52 71 8

### Tuple Comprehension

In [246]:
a = tuple(i for i in range(10) if i%2==0); a

(0, 2, 4, 6, 8)

In [247]:
(i for i in range(10) if i%2==0)  # generator object

using map at tuple

In [248]:
a = (3.9, 2.1, 5.2, 7.1, 8.0)
a = tuple(map(int,a))
a

(3, 2, 5, 7, 8)

get some values

In [249]:
a = (39, 20, 52, 71, 8)
print(min(a), max(a), sum(a))

8 71 190

In [250]:
a = (3.9, 2.1, 5.2, 7.1, 8.0)
print(min(a), max(a), sum(a))

2.1 8.0 26.299999999999997

# Tips (Jupyter notebook)

#### show line numbers in the cell
 - command mode -> notl