#### In this page...
 - if phrase

Conditional Expression

In [3]:
x = 5 
y = x if x==10 else 0
y

0

In [6]:
if True:
    print('true_1')
else:
    print('false_1')

if False:
    print('true_2')
else:
    print('false_2')
    
if None:
    print('true_3')
else:
    print('false_3')

true_1
false_2
false_3

In [15]:
if 0 : print('true_1') 
else : print('false_1')
    
if 1 : print('true_2') 
else : print('false_2')

if 13.5 : print('true_3') 
else : print('false_3')

if 0x1F : print('true_4') 
else : print('false_4')

if 0b1000 : print('true_5') 
else : print('false_5')

false_1
true_2
true_3
true_4
true_5

In [16]:
if 'hi' : print('true_1') 
else : print('false_1')
    
if '' : print('true_2') 
else : print('false_2')

true_1
false_2

#### Summary
 - return True : numbers(except 0), strings,...
 - return False : 0, None, '', [], (), {}, SET() ...

In [27]:
a,b,c,d = map(int, input().split())
if 0<=a<=100 and 0<=b<=100 and 0<=c<=100 and 0<=d<=100 :    
    if (a+b+c+d)/4 >= 80:
        print('pass')
    else:
        print('non-pass')
else :
    print('wrong input')

90 85 99 91
pass

In [35]:
if 7<=age<=12 :
    balance = balance - 650
elif 13<=age<=18 :
    balance = balance - 1050
elif age>=19:
    balance = balance - 1250

print(balance)

6500

#### for phrase
 - range / increase values / decrease values

In [2]:
for i in range(0,10,2):
    print('hi,increasing',i)

hi,increasing 0
hi,increasing 2
hi,increasing 4
hi,increasing 6
hi,increasing 8

In [5]:
for i in range(10,0,-2):
    print('hi, decreasing',i)

hi, decreasing 10
hi, decreasing 8
hi, decreasing 6
hi, decreasing 4
hi, decreasing 2

reversed 이용

In [8]:
for i in reversed(range(5)):
    print('hi',i)

hi 4
hi 3
hi 2
hi 1
hi 0

In [10]:
for i in range(10):
    print(i, end=' ')
    i = 10   # no effect

0 1 2 3 4 5 6 7 8 9

use sequence object(list, tuple, ...) into for phrase

In [12]:
a = [1,2,3,4,5]
for i in a:
    print(i,end=' ')

1 2 3 4 5

In [13]:
a = ('aaa','bb','c')
for i in a:
    print(i,end=' ')

aaa bb c

In [14]:
a = 'python'
for i in a:
    print(i,end=' ')

p y t h o n

In [15]:
for letter in reversed('python'):
    print(letter, end=' ')

n o h t y p

In [ ]:
ad c ac d