Computational Thinking (4가지 요소)
 - 분해 : 복잡한 문제를 작은 문제로 나눈다.
 - 패턴 인식 : 문제 안에서 유사성을 발견한다.
 - 추상화 : 문제의 핵심에만 집중하고, 부차적인 것은 제외한다.
 - 알고리즘 : 이렇게 정의한 문제를 해결하는 절차

Computational Thinking v.s Algorithm
 - 알고리즘 : 대부분 정형화된 문제에 대해 검증된 해법을 제시하는 과정
 - Computational Thinking : 비정형화된 문제를 컴퓨터로 해결하는 과정.
   - 즉, 문제를 이해하고 분해, 패턴 인식, 추상화, 알고리즘 작성까지의 과정.

In [5]:
# 나눗셈 몫&나머지 변수들에 한 번에 할당하기
quotient, remainder = divmod(5,2)
print(quotient, remainder)

2 1

진수/8진수/16진수
 - 2진수 : 숫자 앞에 0b를 붙임 / 0, 1을 이용
 - 8진수 : 숫자 앞에 0o를 붙임 / 0~7을 이용
 - 16진수 : 숫자 앞에 0x를 붙임 / 0~9, A~F를 이용

변수와 입력 사용
 - 값을 입력받아 변수에 할당하기

In [10]:
a, b = input("type 2 strings : ").split()
a, b = int(a), int(b)   #정수로 변환
print(a); print(b)

type 2 strings : 10 20
10
20

#### map을 사용하여 정수로 변환하기

In [11]:
a, b = map(int, input('숫자 2개 입력 : ').split())
print(a+b)

숫자 2개 입력 : 10 20
30

입력받은 값을 콤마 기준으로 분리

In [13]:
a, b = map(int, input('숫자 2개 입력 : ').split(','))
print(a,b)

숫자 2개 입력 : 10,20
10 20

#### input()과 split()의 결과는 모두 string 이라는 점이 중요!

In [16]:
a,b,c = map(int, input().split())
print(a+b+c)

10 20 30
60

출력 방식 : sep 이용

In [18]:
print(1, 2, 3, sep=', ')
print(4, 5, 6, sep=',')
print('hi','python', sep=' ')
print(10,20,sep='x')

1, 2, 3
4,5,6
hi python
10x20

출력 방식 : 개행

In [19]:
print(1, 2, 3, sep='\n')

1
2
3

In [20]:
print('1\n2\n3')

1
2
3

제어 문자
 - 제어문자는 화면에 출력되지는 않지만 출력 결과를 제어한다고 해서 제어 문자라고 부름.
 - 제어문자는 \로 시작하는 Escape Sequence임.
 - \n : 다음줄로 이동 (개행)
 - \t : 탭 문자, 키보드의 Tab 키와 같으며 여러 칸을 띄움
 - \\ : \ 문자 자첼르 출력할 때 \를 두 번 써야 함

end 이용해보기 : 한 줄로 출력

In [1]:
print(1, end='')
print(2, end='')
print(3, end=' ')
print(4, end=' ')
print(5)

123 4 5

#### Summary

입력 값을 변수에 저장하기

In [3]:
a = input()        #입력값을 문자열로 저장
b = int(input())   #입력값을 정수로 저장
c = float(input()) #입력값을 실수로 저장
a,b = input().split()             #값 2개를 입력받아 변수 2개에 문자열로 저장
a,b = map(int, input().split())   #값 2개를 입력받아 변수 2개에 정수로 저장
a,b = map(float, input().split()) #값 2개를 입력받아 변수 2개에 실수로 저장
print()

1
2
3
1 2
3 4
5 6

print 함수의 출력 방식 제어하기

In [4]:
print(1,2,3, sep=', ')

1, 2, 3

In [5]:
print(1, end=' ')
print(2)

1 2

In [6]:
print('1\n2\n3')

1
2
3

주의!

큰 숫자를 구분해서 할당하기

In [7]:
10000000

10000000

In [8]:
10_000_000

10000000

Reference Count

In [11]:
import sys
print(sys.getrefcount(1000))    # 2: Windows에서 처음 레퍼런스 카운트는 2
                                # 3: 리눅스에서 처음 레퍼런스 카운트는 3
m = 1000                        # x에 1000을 저장
print(sys.getrefcount(1000))    # 3: 1000을 한 번 사용하여 레퍼런스 카운트 1 증가(Windows)
                                # 4: 리눅스
n = 1000                        # y에 1000을 저장
print(sys.getrefcount(1000))    # 4: 1000을 한 번 사용하여 레퍼런스 카운트 1 증가(Windows)
                                # 5: 리눅스
print(x is y)    # True: x와 y가 같은 객체를 가리키고 있으므로 True가 나옴

3
3
3
False

행렬 곱셈

In [12]:
import numpy as np    # numpy 모듈을 가져옴
a = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])    # 3x3 행렬 생성
b = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])    # 3x3 행렬 생성
a@b   #행렬곱

array([[ 30,  36,  42],
       [ 66,  81,  96],
       [102, 126, 150]])

파이썬 셀에서 직전에 실행된 결과를 다시 가져오는 방법 : _ 이용

In [13]:
1+1

2

In [14]:
_

2

객체가 같은지 다른지 확인하기

In [1]:
1 == 1.0

True

In [2]:
1 is 1.0

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-2-2ebf4c947f31>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  1 is 1.0

False

In [3]:
1 is not 1.0

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-3-7a2cea8bf2ec>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  1 is not 1.0

True

In [4]:
id(1)

4450945376

In [5]:
id(1.0)

140676309044432

id는 객체의 고유한 메모리주소 값을 구하며, 이 값은 파이썬을 실행하는 동안에는 계속 유지되며 다시 실행하면 달라짐

#### 논리 연산자 3가지 : not / and / or

In [6]:
not True and False or not False

True

연산자 순서 : not -> and -> or 순서로 판단한다.

다시 쓰면,

In [7]:
((not True) and False) or (not False)

True

연습 4가지

In [10]:
print(10 == 10 and 10 != 5)    # True and True
print(10 > 5 or 10 < 3)    # True or False
print(not 10 > 5)              # not True
print(not 1 is 1.0)            # not False

True
True
False
True

<>:4: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:4: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-10-a3fc894f95a3>:4: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print(not 1 is 1.0)            # not False

In [14]:
bool(1)         # True
bool(0)         # False
bool(1.5)       # True
bool('False')   # True
bool('')        # False

False

즉, 
 - 정수 0, 실수 0.0 이외의 모든 숫자는 True  
 - 빈 문자열 '', "" 를 제외한 모든 문자열은 True

#### 단락평가

참고 | 단락 평가
논리 연산에서 중요한 부분이 단락 평가(short-circuit evalution)입니다. 단락 평가는 첫 번째 값만으로 결과가 확실할 때 두 번째 값은 확인(평가)하지 않는 방법을 말합니다. 즉, and 연산자는 두 값이 모두 참이라야 참이므로 첫 번째 값이 거짓이면 두 번째 값은 확인하지 않고 바로 거짓으로 결정합니다.

-  첫 번째 값이 거짓이므로 두 번째 값은 확인하지 않고 거짓으로 결정
print(False and True)     # False
print(False and False)    # False
or 연산자는 두 값 중 하나만 참이라도 참이므로 첫 번째 값이 참이면 두 번째 값은 확인하지 않고 바로 참으로 결정합니다.

 - 첫 번째 값이 참이므로 두 번째 값은 확인하지 않고 참으로 결정
print(True or True)     # True
print(True or False)    # True
특히 파이썬에서 논리 연산자는 이 단락 평가에 따라 반환하는 값이 결정됩니다. True, False를 논리 연산자로 확인하면 True, False가 나왔는데, True and 'Python'의 결과는 무엇이 나올까요?

>>> True and 'Python'
'Python'
문자열 'Python'도 불로 따지면 True라서 True and True가 되어 True가 나올 것 같지만 'Python'이 나왔습니다. 왜냐하면 파이썬에서 논리 연산자는 마지막으로 단락 평가를 실시한 값을 그대로 반환하기 때문입니다. 따라서 논리 연산자는 무조건 불을 반환하지 않습니다.

다음과 같이 마지막으로 단락 평가를 실시한 값이 불이면 불을 반환하게 됩니다.

>>> 'Python' and True
True
>>> 'Python' and False
False
여기서는 문자열 'Python'을 True로 쳐서 and 연산자가 두 번째 값까지 확인하므로 두 번째 값이 반환됩니다. 만약 다음과 같이 and 연산자 앞에 False나 False로 치는 값이 와서 첫 번째 값 만으로 결과가 결정나는 경우에는 첫 번째 값이 반환됩니다.

>>> False and 'Python'
False
>>> 0 and 'Python'    # 0은 False이므로 and 연산자는 두 번째 값을 평가하지 않음
0
or 연산자도 마찬가지로 마지막으로 단락 평가를 실시한 값이 반환됩니다. 다음은 or 연산자에서 첫 번째 값만으로 결과가 결정되므로 첫 번째 값이 반환됩니다.

>>> True or 'Python'
True
>>> 'Python' or True
'Python'
만약 두 번째 값까지 판단해야 한다면 두 번째 값이 반환됩니다.

>>> False or 'Python'
'Python'
>>> 0 or False
False

리스트

In [4]:
li_1 = []; li_1

[]

In [5]:
li_2 = list(); li_2

[]

In [1]:
range(5)

range(0, 5)

In [10]:
a = list(range(5)); a

[0, 1, 2, 3, 4]

In [11]:
b = list(range(5,10)); b

[5, 6, 7, 8, 9]

In [12]:
c = list(range(-4,10,2)); c

[-4, -2, 0, 2, 4, 6, 8]

In [14]:
d = list(range(10,0,-1)); d

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

튜플 ( = 읽기 전용 리스트 )

In [16]:
a = (8,1,3,2,9); a

(8, 1, 3, 2, 9)

In [17]:
b = 8,1,3,2,9 ; b

(8, 1, 3, 2, 9)

In [18]:
person = ('kai',19,175.2,True); person

('kai', 19, 175.2, True)

In [19]:
(37)

37

In [21]:
(37,)   #튜플의 형태를 유지해야 할 때 쓰는 문법

(37,)

In [22]:
a = tuple(range(5)); a

(0, 1, 2, 3, 4)

In [23]:
b = tuple(range(5,10)); b

(5, 6, 7, 8, 9)

In [25]:
c = tuple(range(-4,10,2)); c

(-4, -2, 0, 2, 4, 6, 8)

리스트 & 튜플

In [26]:
a = [1,2,3]
tuple(a)

(1, 2, 3)

In [27]:
b = (4,5,6)
list(b)

[4, 5, 6]

In [28]:
list('Hello')

['H', 'e', 'l', 'l', 'o']

In [29]:
tuple('Hello')

('H', 'e', 'l', 'l', 'o')

In [31]:
a, b, c = [1,2,3]
print(a)
print(a,b,c)

1
1 2 3

In [32]:
d, e, f = (4,5,6)
print(d)
print(d,e,f)

4
4 5 6

리스트 언패킹(list unpacking) / 튜플 언패킹(unpacking)

In [33]:
x = [1,2,3]
a,b,c = x
print(a)
print(a,b,c)

1
1 2 3

In [34]:
y = (4,5,6)
d,e,f = y
print(d,e)

4 5

응용

In [35]:
input().split()

10 20

['10', '20']

In [38]:
x = input().split()
a, b = x

10 20

In [39]:
print(a)

10

리스트 패킹(list packing) & 튜플 패킹(tuple packing)

In [40]:
a = [1,2,3]  #리스트 패킹
b = (1,2,3)  #튜플 패킹
c = 1,2,3    #튜플 패킹

In [1]:
print(3)

3

#### 시퀀스 자료형
 - 종류 : list / tuple / range / string / bytes / bytearray ...

특정 값이 있는지 확인하기

In [5]:
a = [1,2,3,4,5]
3 in a

True

In [6]:
10 in a

False

In [7]:
2 not in a

False

In [8]:
7 not in a

True

In [9]:
43 in (38,76,43)

True

In [10]:
1 in range(10)

True

In [11]:
'P' in ('Hi, Python')

True

시퀀스 객체 연결하기

In [12]:
a = [0,10,20,30]
b = [9,8,7,6]
a+b

[0, 10, 20, 30, 9, 8, 7, 6]

In [17]:
# range(0,10) + range(10,20)   # 불가. 에러
list(range(0,3)) + list(range(3,5))

[0, 1, 2, 3, 4]

In [18]:
tuple(range(0,3)) + tuple(range(3,5))

(0, 1, 2, 3, 4)

In [20]:
'hi,' + 'python'

'hi,python'

문자열 + 숫자

In [26]:
'hi, ' + str(10) + ' I am ' + str(1.5)

'hi, 10 I am 1.5'

시퀀스 객체 반복하기

In [27]:
[0,1,2,3] * 3

[0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]

In [28]:
list(range(0,5,2)) * 3

[0, 2, 4, 0, 2, 4, 0, 2, 4]

In [29]:
tuple(range(0,5,2)) * 3

(0, 2, 4, 0, 2, 4, 0, 2, 4)

In [30]:
'hello ' * 3

'hello hello hello '

시퀀스 요소 개수 구하기

In [31]:
a = [0,1,2,3,4,5]
len(a)

6

In [32]:
b = (1,2,3,4,5)
len(b)

5

In [33]:
range(0,10,2)

range(0, 10, 2)

In [34]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [35]:
len(range(0,10,2))

5

In [37]:
hello = 'hello,world!'
len(hello)

12

In [38]:
hello = '안녕하세요'
len(hello)

5

utf-8 문자열의 바이트 수 구하기

In [39]:
hello = '안녕하세요'
len(hello.encode('utf-8'))

15

In [40]:
a = [14,15,92,65,35]
a[0]

14

In [41]:
b = (14,15,92,65,35)
b[0]

14

In [43]:
r = range(0,10,2)
print(list(r))
r[2]

[0, 2, 4, 6, 8]

4

In [44]:
hi = 'hello,world'
hi[7]

'o'

시퀀스 객체에서 [](대괄호)를 사용하면 실제로는 __getitem__메서드를 호출

In [45]:
a = [14,15,92,65,35]
a.__getitem__(0)

14

In [46]:
a = [14,15,92,65,35]
a[-1]

35

In [47]:
a[-5]

14

In [48]:
b = (14,15,92,65,35)
b[-2]

65

In [49]:
r = range(0,10,2)
print(list(r))
r[-3]

[0, 2, 4, 6, 8]

4

In [51]:
hi = 'hello,python'
hi[-4]

't'

시퀀스의 마지막 요소 인덱싱

In [53]:
a = [14,15,92,65,35];   a[len(a)-1]   # 자주 사용됨

35

요소에 값 할당하기

In [58]:
a = [0,0,0,0,0]
a[0] = 14; a[1]=15; a[2]=92; a[3]=65; a[4]=35
a

[14, 15, 92, 65, 35]

tuple과 range는 값 할당/변경 불가.

del : 시퀀스 요소 삭제하기

In [59]:
a

[14, 15, 92, 65, 35]

In [60]:
del a[2]
a

[14, 15, 65, 35]

슬라이싱 / slicing

In [70]:
a = [0,1,2,3,4,5,6,7]
a[0:4]

[0, 1, 2, 3]

In [71]:
a = [0,1,2,3,4,5,6,7]
a[0:100]   # 'out of range' is okay.

[0, 1, 2, 3, 4, 5, 6, 7]

In [72]:
a = [0,1,2,3,4,5,6,7]
a[1:1]

[]

In [73]:
a = [0,1,2,3,4,5,6,7]
a[1:2]

[1]

In [74]:
a = [0,1,2,3,4,5,6,7]
a[3:5]

[3, 4]

In [75]:
a = [0,1,2,3,4,5,6,7]
a[3:-1]

[3, 4, 5, 6]

In [77]:
a = [0,1,2,3,4,5,6,7,8,9]
a[2:8:3]

[2, 5]

In [79]:
a = [0,1,2,3,4,5,6,7,8,9]
a[2:9:3]

[2, 5, 8]

In [80]:
a = [0,1,2,3,4,5,6,7,8,9]
a[:7]

[0, 1, 2, 3, 4, 5, 6]

In [81]:
a = [0,1,2,3,4,5,6,7,8,9]
a[7:]

[7, 8, 9]

In [82]:
a = [0,1,2,3,4,5,6,7,8,9]
a[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [83]:
a = [0,1,2,3,4,5,6,7,8,9]
a[:7:2]

[0, 2, 4, 6]

In [84]:
a = [0,1,2,3,4,5,6,7,8,9]
a[7::2]

[7, 9]

In [85]:
a = [0,1,2,3,4,5,6,7,8,9]
a[::2]

[0, 2, 4, 6, 8]

In [86]:
a[::]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

슬라이스 인덱스 증가폭을 음수로 지정

In [87]:
a = [0,1,2,3,4,5,6,7,8,9]
a[5:1:-1]

[5, 4, 3, 2]

In [92]:
a = [0,1,2,3,4,5,6,7,8,9]
display(
    a[0:len(a)],
    a[:len(a)]
)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

tuple, range, string 슬라이싱 / slicing

In [93]:
b = (0,1,2,3,4,5,6,7,8,9)
display(
    b[4:7],
    b[4:],
    b[:7:2]
)

(4, 5, 6)

(4, 5, 6, 7, 8, 9)

(0, 2, 4, 6)

In [100]:
r = range(10)
display(
    r,
    list(r),  # list 
    r[4:7],   # 인덱스 4부터 6까지
    r[4:],    # 인덱스 4부터 끝까지
    r[:7:2],  # 인덱스 0부터 2씩 증가시키면서 인덱스6까지
    list(r[:7:2])   # range를 list로 출력
)

range(0, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

range(4, 7)

range(4, 10)

range(0, 7, 2)

[0, 2, 4, 6]

In [102]:
hi = 'hello, world'
display(
    hi[2:9],
    hi[2:],
    hi[:9:2]
)

'llo, wo'

'llo, world'

'hlo o'

slice 객체 사용하기

In [103]:
range(10)[slice(4, 7, 2)]

range(4, 7, 2)

In [104]:
range(10).__getitem__(slice(4, 7, 2))

range(4, 7, 2)

In [113]:
a = [0,1,2,3,4,5,6,7,8,9]
s = slice(4,7)
a[s]

[4, 5, 6]

In [114]:
r = range(10)
s = slice(4,7)
r[s]

range(4, 7)

In [115]:
hi = 'hello,world'
s = slice(4,7)
hi[s]

'o,w'

슬라이스에 요소 할당하기

In [116]:
a = [0,1,2,3,4,5,6,7,8,9]
a[2:5] = ['a','b','c']
a

[0, 1, 'a', 'b', 'c', 5, 6, 7, 8, 9]

In [118]:
a = [0,1,2,3,4,5,6,7,8,9]
a[2:5] = ['a','b']   # 3개 요소 자리에 2개를 할당하여 요소 개수가 줄어들었음.
a

[0, 1, 'a', 'b', 5, 6, 7, 8, 9]

In [119]:
a = [0,1,2,3,4,5,6,7,8,9]
a[2:5] = ['a','b','c','d','e']   # 할당할 요소가 많아서 리스트 요소 개수도 늘어남.
a

[0, 1, 'a', 'b', 'c', 'd', 'e', 5, 6, 7, 8, 9]

In [123]:
a = [0,1,2,3,4,5,6,7,8,9]
a[2:8:2] = ['a', 'b', 'c']  
# 증가폭 지정했을 경우에는 슬라이스 범위 요소 개수와 할당할 요소 개수가 일치해야 함.
a

[0, 1, 'a', 3, 'b', 5, 'c', 7, 8, 9]

-> tuple, range, string은 슬라이스 범위를 지정해도 요소를 할당할 수 없음.

In [125]:
a = [0,1,2,3,4,5,6,7,8,9]
del a[2:5]   # 원래의 리스트(a)가 변경되는 것.
a

[0, 1, 5, 6, 7, 8, 9]

In [126]:
a = [0,1,2,3,4,5,6,7,8,9]
del a[2:8:2]   # 원래의 리스트(a)가 변경되는 것.
a

[0, 1, 3, 5, 7, 8, 9]

In [132]:
x = input().split()
del x[-5:]
tuple(x)

oven bat pony tatal leak wreck curl crop space

('oven', 'bat', 'pony', 'tatal')

### Dictionary / 딕셔너리

In [136]:
lux = {'health': 49, 'mana': 33, 'melee': 55, 'armor': 8.7}
lux

{'health': 49, 'mana': 33, 'melee': 55, 'armor': 8.7}

In [137]:
x = {100: 'hundred', False: 0, 3.5: [3.5, 3.5]} ;  x

{100: 'hundred', False: 0, 3.5: [3.5, 3.5]}

 - key : list, dictionary 사용 불가능  
 - value : list, dictionary 사용 가능

빈 딕셔너리 생성

In [138]:
x = {} ;  x

{}

In [139]:
y = dict();  y

{}

dict()로 dictionary 생성하기

 - 딕셔너리 = dict(키1=값1, 키2=값2)
 - 딕셔너리 = dict(zip([키1, 키2], [값1, 값2]))
 - 딕셔너리 = dict([(키1, 값1), (키2, 값2)])
 - 딕셔너리 = dict({키1: 값1, 키2: 값2})

In [143]:
ux1 = {'health': 49, 'mana': 33, 'melee': 55, 'armor': 8.7}
ux1

{'health': 49, 'mana': 33, 'melee': 55, 'armor': 8.7}

In [145]:
ux2 = dict(zip(['health', 'mana', 'melee', 'armor'], [49, 33, 55, 8.7]))
ux2

{'health': 49, 'mana': 33, 'melee': 55, 'armor': 8.7}

In [146]:
ux3 = dict([('h',49),('ma',33),('me',55),('ar',8.7)])
ux3

{'h': 49, 'ma': 33, 'me': 55, 'ar': 8.7}

In [147]:
ux4 = dict({'he':49,'ma':33,'me':55,'ar':8.7})
ux4

{'he': 49, 'ma': 33, 'me': 55, 'ar': 8.7}

#### Dictionary Indexing

In [148]:
lux = {'he':49,'ma':33,'me':55,'ar':8.7}
lux

{'he': 49, 'ma': 33, 'me': 55, 'ar': 8.7}

In [149]:
lux['he']

49

In [150]:
lux['he'] = 2037
lux

{'he': 2037, 'ma': 33, 'me': 55, 'ar': 8.7}

add new key

In [152]:
lux['new'] = 'hi'
lux

{'he': 2037, 'ma': 33, 'me': 55, 'ar': 8.7, 'new': 'hi'}

check if Key exists

In [154]:
lux = {'he':49,'ma':33,'me':55,'ar':8.7}
display( 
    'he' in lux,
    'zz' in lux,
    'he' not in lux,
    'zz' not in lux
)

True

False

False

True

dictionary key 개수 구하기

In [155]:
lux = {'he':49,'ma':33,'me':55,'ar':8.7}
len(lux)

4

### 정리

시퀀스 자료형
 - 파이썬에서 리스트(list), 튜플(tuple), range, 문자열(str)과 같이 값이 연속적으로 이어진 자료형을 시퀀스 자료형(sequence types)이라고 합니다. 그리고 시퀀스 자료형으로 만든 객체를 시퀀스 객체라고 하며, 시퀀스 객체에 들어있는 각 값을 요소(element)라고 부릅니다.

시퀀스 자료형의 공통 기능
 - 파이썬의 시퀀스 자료형은 공통된 동작과 기능을 제공합니다. 따라서 리스트, 튜플, range, 문자열 등의 시퀀스 자료형은 같은 문법을 사용합니다.

#### 정리

값 in 시퀀스객체             # 시퀀스 객체에 특정 값이 있는지 확인  
값 not in 시퀀스객체         # 시퀀스 객체에 특정 값이 없는지 확인  
  
시퀀스객체1 + 시퀀스객체2    # 시퀀스 객체를 서로 연결하여 새 시퀀스 객체를 만듦  
시퀀스객체 * 정수            # 시퀀스 객체를 특정 횟수만큼 반복하여 새 시퀀스 객체를 만듦  
정수 * 시퀀스객체            # 시퀀스 객체를 특정 횟수만큼 반복하여 새 시퀀스 객체를 만듦  
 
len(시퀀스객체)              # 시퀀스 객체의 요소 개수(길이) 구하기  
 
시퀀스객체[인덱스]           # 시퀀스 객체의 요소에 접근  
시퀀스객체[0]                # 시퀀스 객체의 인덱스는 0부터 시작하므로 첫 번째 요소  
시퀀스객체[-음수]            # 인덱스를 음수로 지정하면 뒤에서부터 요소에 접근, -1은 뒤에서 첫 번째  
시퀀스객체[인덱스] = 값      # 시퀀스 객체의 요소에 값 저장
 
del 시퀀스객체[인덱스]       # 시퀀스 객체의 요소를 삭제

#### 시퀀스 자료형의 슬라이스
 - 시퀀스 자료형은 시퀀스 객체의 일부를 잘라내서 가져오는 슬라이스(slice)를 사용할 수 있습니다. [ ](대괄호) 안에 시작 인덱스와 끝 인덱스를 지정하면 해당 범위의 요소를 잘라서 새 시퀀스 객체를 만듭니다. 단, 끝 인덱스는 가져오려는 범위에 포함되지 않습니다.

시퀀스객체[시작인덱스:끝인덱스]                 # 지정된 범위의 요소를 잘라서 새 시퀀스 객체를 만듦
시퀀스객체[시작인덱스:끝인덱스:인덱스증가폭]    # 인덱스 증가폭을 지정하면 해당 값만큼 
                                                # 인덱스를 증가시키면서 요소를 가져옴
 
시퀀스객체[:끝인덱스]      # 시작 인덱스를 생략하여 객체의 처음부터 끝 인덱스 - 1까지 가져옴
시퀀스객체[시작인덱스:]    # 끝 인덱스를 생략하여 시작 인덱스부터 마지막 요소까지 가져옴
시퀀스객체[:]              # 시작 인덱스와 끝 인덱스를 생략하여 객체 전체를 가져옴
 
시퀀스객체[0:len(시퀀스객체)]     # len을 응용하여 객체 전체를 가져옴
시퀀스객체[:len(시퀀스객체)]      # 시작 인덱스 생략, len을 응용하여 객체 전체를 가져옴
 
시퀀스객체[:끝인덱스:증가폭]      # 객체의 처음부터 증가폭만큼 인덱스를 증가시키면서 
                                  # 끝 인덱스 - 1까지 요소를 가져옴
시퀀스객체[시작인덱스::증가폭]    # 시작 인덱스부터 증가폭만큼 인덱스를 증가시키면서 
                                  # 마지막 요소까지 가져옴
시퀀스객체[::증가폭]              # 객체 전체에서 증가폭만큼 인덱스를 증가시키면서 요소를 가져옴
 
시퀀스객체[::]                    # 객체 전체를 가져옴, 시퀀스객체[:]와 같음
 
시퀀스객체[시작인덱스:끝인덱스] = 시퀀스객체                 # 범위를 지정하여 여러 요소에 값 할당
시퀀스객체[시작인덱스:끝인덱스:인덱스증가폭] = 시퀀스객체    # 증가폭만큼 인덱스를 건너뛰면서 할당
 
del 시퀀스객체[시작인덱스:끝인덱스]    # 특정 범위의 요소를 삭제(원본 객체가 변경됨)

#### 딕셔너리
 - 딕셔너리는 연관된 값을 묶어서 저장하는 자료형입니다. { }(중괄호) 안에 키: 값 형식으로 저장하며 각 키와 값은 ,(콤마)로 구분합니다. 딕셔너리에 저장된 값에 접근할 때는 [ ](대괄호) 안에 키를 지정해줍니다.

딕셔너리 = {키1: 값1, 키2: 값2}    # 딕셔너리 만들기
딕셔너리 = {}                      # 빈 딕셔너리 만들기
딕셔너리 = dict()                  # 빈 딕셔너리 만들기
 
딕셔너리[키]                       # 딕셔너리에서 키로 값에 접근
딕셔너리[키] = 값                  # 딕셔너리에서 키에 값 할당
 
키 in 딕셔너리                     # 딕셔너리에 특정 키가 있는지 확인
키 not in 딕셔너리                 # 딕셔너리에 특정 키가 없는지 확인
 
len(딕셔너리)                      # 딕셔너리의 키 개수(길이) 구하기

#### over python 3.6 : key order doesn't change

In [170]:
lux = {'he': 490, 'ma': 334, 'me': 550, 'ar': 18.72}
lux

{'he': 490, 'ma': 334, 'me': 550, 'ar': 18.72}

#### under python 3.6, key order isn't guaranteed
 - to guarantee key orders under python ver.3.6, use OrderDict

In [172]:
from collections import OrderedDict
lux = OrderedDict({'he':49,'ma':33,'me':55,'ar':8.7})
lux

OrderedDict([('he', 49), ('ma', 33), ('me', 55), ('ar', 8.7)])

#### >> note that we usually use OrderedDict when arange dictionary by key