In [12]:
import pandas as pd
from altair import Chart, X, Y, Axis, SortField

In [19]:
budget = pd.read_csv(".\data\mn-budget-detail-2014.csv", sep=",")
budget.head(3)

,category,detail,amount
0,UNIVERSITY OF MINNESOTA,Higher Education Asset Preservation (HEAPR) 1,42500000
1,UNIVERSITY OF MINNESOTA,Minneapolis; Tate Laboratory Renovation,56700000
2,UNIVERSITY OF MINNESOTA,Crookston; Wellness Center,10000000